<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kanji List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        <style>
        body {
            height: 100%;
            width: 100%;
            background-color: mintcream;
            font-size: 20px;
        }
        .container {
            max-width: 90%;
        }
        .square {
            width: 50px;
            height: 50px;
            float: left;
            font-size: 40px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12"  id="data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Search by Kanji"
                                   aria-label="Search by Kanji"
                                   id="search"
                                   required>
                            <button class="btn btn-outline-secondary"
                                    type="button"
                                    id="button-search"
                                    onclick="search_kanji()">Search</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group sm-3">
                            <label class="input-group-text" for="inputGroupSelect01">JLPT Label</label>
                            <select class="form-select"
                                    name="jlpt"
                                    id="inputGroupSelect01"
                                    onchange="window.location = this.options[this.selectedIndex].value;">
                                <option selected>Choose...</option>
                                <option value="{% url 'kanji:kanji_by_jlpt' level='5' %}">N5</option>
                                <option value="{% url 'kanji:kanji_by_jlpt' level='4' %}">N4</option>
                                <option value="{% url 'kanji:kanji_by_jlpt' level='3' %}">N3</option>
                                <option value="{% url 'kanji:kanji_by_jlpt' level='2' %}">N2</option>
                                <option value="{% url 'kanji:kanji_by_jlpt' level='1' %}">N1</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group sm-3">
                            <label class="input-group-text" for="inputGroupSelect01">Radical</label>
                            <select class="form-select"
                                    name="radical"
                                    id="inputGroupSelect01"
                                    onchange="window.location = this.options[this.selectedIndex].value;">
                                <option selected>Choose...</option>
                                {% for radical in radicals %}
                                    <option value="{% url 'kanji:kanji_by_radical' radical_id=radical.id %}">{{ radical.radical }}</option>
                                {% endfor %}
                                <option value="1">N1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="kanji_list">
                    <h1 class="text-center">Kanji List</h1>
                    <table class="table table-bordered table-inverse m-4">
                        <thead>
                            <th>Kanji</th>
                            <th>Radical</th>
                            <th>Meaning</th>
                            <th>Parts</th>
                        </thead>
                        <tbody>
                            {% for kanji in kanji_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'kanji:kanji_detail' pk=kanji.pk %}">{{ kanji.kanji }}</a>
                                    </td>
                                    <td>{{ kanji.radical.radical }}</td>
                                    <td>{{ kanji.meaning }}</td>
                                    <td>{{ kanji.parts }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            function search_kanji(){
                let k = document.getElementById('search');
                let kanji = k.value;
                if (!kanji) {
                    k.placeholder = "Please Enter a Kanji"
                } else {
                    window.location.href = '/kanji/view/search/?word='+kanji;
                }
            }
        </script>
    </body>
</html>
