<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>

        body {
            height: 100%;
            width: 100%;
            background-color: mintcream;
            font-size: 20px;
        }

        .square {
            width: 50px;
            height: 50px;
            float: left;
            font-size: 40px;
        }

        .kanji_by_radical{
            position: relative;
            display: inline-block;
        }

        .kanji_by_radical .tooltiptext {
            display: none;
            width: 300px;
            height: fit-content;
            background-color: black;
            opacity: 0.5;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 20%;
            margin-left: -30px;
        }
        .similar_sounded_kanji{
            position: relative;
            display: inline-block;
        }

        .similar_sounded_kanji .tooltiptext {
            display: none;
            width: 300px;
            height: fit-content;
            background-color: black;
            opacity: 0.5;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: 100%;
            left: 20%;
            margin-left: -30px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by Kanji" aria-label="Search by Kanji"
                       id="search" required>
                <button class="btn btn-outline-secondary" type="button" id="button-search" onclick="search()">Search
                </button>
            </div>
        </div>
        <div class="col-md-3">

            <div class="input-group sm-3">
                <label class="input-group-text" for="inputGroupSelect01">JLPT Label</label>
                <select class="form-select" name="jlpt" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">N1</option>
                    <option value="2">N2</option>
                    <option value="3">N3</option>
                    <option value="4">N4</option>
                    <option value="5">N5</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">

            <div class="input-group sm-3">
                <label class="input-group-text" for="inputGroupSelect01">Radical</label>
                <select class="form-select" name="radical" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">N1</option>
                    <option value="2">N2</option>
                    <option value="3">N3</option>
                    <option value="4">N4</option>
                    <option value="5">N5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" id="data">
        <div class="row">
            <div class="col">
                <h1 id="kanji"></h1>
                <h6 id="k_onyomi"></h6>
                <h6 id="k_kunyomi"></h6>
                <h6 id="k_meaning"></h6>

                <p id="k_examples"></p>
                <h6 id="k_jlpt"></h6>

            </div>
            <div class="col">
                <h3 id="radical"></h3>
                <h6 id="r_meaning"></h6>
                <h6 id="r_readings"></h6>
                <h6 id="r_alternative"></h6>
                <div id="kanji_by_radical" class="kanji_by_radical">
                    <div class="tooltiptext" id="tooltip">
                        <h3 id="t_heading"></h3>
                        <p id="t_onyomi"></p>
                        <p id="t_kunyomi"></p>
                        <p id="t_meaning"></p>
                        <p id="t_jlpt"></p>
                    </div>
                </div>
                <div id="similar_sounded_kanji" class="similar_sounded_kanji mt-3">
                    <div class="tooltiptext" id="tooltip">
                        <h3 id="t_heading"></h3>
                        <p id="t_onyomi"></p>
                        <p id="t_kunyomi"></p>
                        <p id="t_meaning"></p>
                        <p id="t_jlpt"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const data_cont = document.getElementById('data').innerHTML;
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function search() {
        var k = document.getElementById('search');
        var kanji = k.value;
        if (!kanji) {
            k.placeholder = "Please Enter a Kanji"
        } else {
            var payload = {kanji: kanji};
            const url = "{% url 'kanji:kanji_search' %}";
            fetch(url, {
              method: "POST",
              credentials: "same-origin",
              headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
              },
              body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
              document.getElementById('data').innerHTML=data_cont;
              kanji_data(data['context']);
            });
        }
    }
    function kanji_data(data) {
        document.getElementById('kanji').innerText = "Kanji: "+data['kanji'];
        document.getElementById('k_onyomi').innerText = "Onyomi: "+data['k_onyomi'];
        document.getElementById('k_kunyomi').innerText = "Kunyomi: "+data['k_kunyomi'];
        document.getElementById('k_meaning').innerText = "Meaning: "+data['k_meaning'];
        document.getElementById('k_examples').innerHTML = "<h4>Examples</h4>"+data['k_examples'];
        document.getElementById('k_jlpt').innerText = "JLPT LEVEL: "+data['k_jlpt'].toString();
        document.getElementById('radical').innerText = "Radical: "+data['radical'];
        document.getElementById('r_meaning').innerText = "Meaning: "+data['r_meaning'];
        document.getElementById('r_readings').innerText = "Readings: "+data['r_readings'];
        document.getElementById('r_alternative').innerText = "Alternatives: "+data['r_alternatives'];
        var kanji_by_radical = document.getElementById('kanji_by_radical');
        var kanji_list = data['kanji_by_radical'];
        for (var i = 0; i < kanji_list.length; i++) {
            var newDiv = document.createElement("div");
            var k = kanji_list[i]
            newDiv.className = "square";
            newDiv.innerHTML = k;
            newDiv.onclick = function () {
                showTooltip(this);
            };
            newDiv.onmouseout = function () {
                hideTooltip();
            };
            kanji_by_radical.prepend(newDiv);
        }

        var similar_sounded_kanji = document.getElementById('similar_sounded_kanji');
        var similar_kanji_list = data['similar_sounded_kanji'];
        console.log(similar_kanji_list)
        for (var i = 0; i < similar_kanji_list.length; i++) {
            var newDiv = document.createElement("div");
            var k = similar_kanji_list[i]
            newDiv.className = "square";
            newDiv.innerHTML = k;
            newDiv.onclick = function () {
                showTooltip(this);
            };
            newDiv.onmouseout = function () {
                hideTooltip();
            };
            similar_sounded_kanji.prepend(newDiv);
        }
    }

    function showTooltip(input) {
        var kanji = input.innerText;
        var payload = {kanji: kanji};
        const url = "{% url 'kanji:kanji_hover' %}";
        fetch(url, {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            body: JSON.stringify(payload)
        })
            .then(response => response.json())
            .then(data => {
                hover_data(data['context']);
            });
    }

    function hover_data(data) {
        var tooptip = document.getElementById('tooltip');
        document.getElementById('t_heading').innerText = "Kanji: "+data['kanji'];
        document.getElementById('t_onyomi').innerText = "Onyomi: "+data['k_onyomi'];
        document.getElementById('t_kunyomi').innerText = "Kunyomi: "+data['k_kunyomi'];
        document.getElementById('t_meaning').innerText = "Meaning:  "+data['k_meaning'];
        document.getElementById('t_jlpt').innerText = "JLPT LEVEL: "+data['k_jlpt'].toString();
        tooptip.style.display = "block";
    }

    function hideTooltip() {
        var tooptip = document.getElementById('tooltip');
        tooptip.style.display = "none";
    }
</script>

</body>
</html>
