{% load static %}

<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
      <!-- Search -->
      <!-- <a href="{% url 'home:home' %}">
        <section id="search" class="alt">

          <h2>{{ user.name }}</h2>
        </section>
      </a> -->
      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="{% url 'home:home' %}">Homepage</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'home:index' %}">{{ request.user.name }}</a></li>
          {% endif %}
          <li><a href="{% url 'kanji:kanji_list' %}">Kanji</a></li>
        </ul>
      </nav>
    </div>
  </div>
